/*Font Stuff*/ 


 body {
   background-color: #7E8B8B;
   font-family: 'Rosario', sans-serif;
   color: #FFF;
 }
 
 h1, h2, h3 {
     font-family:"Rosario";
     color: #FFF;
  }

 a{
   color: inherit;
  text-decoration: none;
}


 /*Periodic Table blocks for navigation*/
 #title {
  width:100%;
  position: absolute;
  left: -10%;
  z-index:-1;
  text-align: center;
 }
 
 .menuBlocks {
   background-color: #BFD4D4;
   text-align: center;
   border-style: solid;
   margin: 0;
   border-Width: 5px;
   border-color: #FFF;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);   
 }
 
 .blockLabels {
   font-family:"Roboto Condensed";
   font-size: 3em;
   margin: 0;
   position: absolute;
   top: 50%;
   left: 30%;
   
 }
 #periodicTable{
  width: 80%;
  height: 600px;
        } /*height to be defined in percentage based on javascript*/

    #leftSide{
      width:10%;
      position: absolute;
      left:2%;
      top:3%;
            }
        
         #hydrogen{
          width: 50%;
          height: 60px;
          border-bottom-width: 0px;
                }

         #sblock{
          width: 100%;
          height: 360px;
          border-top-width: 0px;
          
                }
    
    #dblock{
      width: 50%;
      height: 240px;
      position: absolute;
      left:15%;
      top:30%;
        }

    #rightSide {
      width:30%;
      position: absolute;
      left:68%;
      top:3% ;
        }

        #helium{
          width: 17%;
          height: 60px;
          border-bottom-width: 0px;
          position: absolute;
          left: 83%;
            }
        
        #pblock{
          width: 100%;
          height: 360px;
          border-top-width: 0px;
          position: absolute;
          left: 0%;
          top:55%;
            }
        
    #fblock{
          width: 78%;
          height: 120px;
          position: absolute;
          top: 75%;
          left:8%;
        }
  
#verticalText {
	transform: rotate(90deg);
	left: 3%;
}